.work-latest-project1{
    margin-left: 20px;
    margin-top: 0px;
}
.work-latest-project2{
    margin-left: -35px;
    margin-top: 30px;
}
.work-latest-project3{
    margin-left: 75px;
    margin-top: -100px;
}
.work-bg{
    background-image: url(../../assets/work-wallpaper.jpg);
}

@media only screen and (max-width: 768px) {
    .work-latest-project1 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .work-latest-project2 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .work-latest-project3 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .space-work-pic{
        width: 300px;
        height: 350px;
    }
  }